doc/_build/
venv
tmp

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Translations
*.mo
*.pot

# Django stuff:
*.log

# Sphinx documentation
docs/_build/

# PyBuilder
target/
*.ipynb
fabhosts.py
tox.ini
celerybeat.pid
celerybeat-schedule
dump.rdb

tmp/
common.env
data
k8s/configs
k8s/etcd-operator
k8s/sql
k8s/etcd-0.2.0.tgz
k8s/etcd-operator-0.2.1.tgz
k8s/etcd-statefulset-values.yaml
k8s/riverflo-ws.yaml
k8s/riverflows-secrets.yaml
k8s/sec-patroni.yaml
k8s/wale-config.yaml
