{% extends "base.html" %}

{% set active_page = "map" %}

{% block head %}
  {{super()}}
  <script src='https://api.mapbox.com/mapbox.js/v2.4.0/mapbox.js'></script>
  <link href='https://api.mapbox.com/mapbox.js/v2.4.0/mapbox.css' rel='stylesheet' />
{% endblock %}

{% block title %}Flows Map{% endblock %}

{% block jumbo_title %}<h1>Map</h1>{% endblock %}

{% block main %}
  <div id="map" style="height: 600px; width: 100%">

  </div>
{% endblock %}

{% block scripts %}
<script>
  L.mapbox.accessToken = '{{mapbox_access_token}}'
  var map = L.mapbox.map('map', 'mapbox.streets')

  var sections = L.mapbox.featureLayer('{{ url_for('api.get_section_geojson', _external=True ) }}')
  .addTo(map)

  var gages = L.mapbox.featureLayer('{{ url_for('api.get_gage_geojson', _external=True)}}')
  .addTo(map)
</script>
{% endblock %}
