{% extends "base.html" %}

{% set active_page = "section" %}

{% block title %}Flows | {{ section.name }}{% endblock %}

{% block jumbo_title %}
<h1>{{ section.name }}</h1>
<p>{{ section.shortDescription }}</p>
{% endblock %}

{% block styles %}
{{super()}}
<link href="https://cdn.pydata.org/bokeh/release/bokeh-0.12.6.min.css"
    rel="stylesheet" type="text/css">
{% endblock %}

{% block scripts %}
<script src="https://cdn.pydata.org/bokeh/release/bokeh-0.12.6.min.js"></script>
{% autoescape false %}
	{{ script }}
{% endautoescape %}
{{super()}}
{% endblock %}

{% block main %}
<ul class="nav nav-tabs">
	<li class="active"><a href="#info" data-toggle="tab">Section Info</a></li>
	<li><a href="#weather" data-toggle="tab">Weather</a></li>
	{% for correlation, div in correlation_divs %}
	<li><a href="#{{ correlation.sensor.stype }}" data-toggle="tab">{{ correlation.sensor.gage.name }} - {{ correlation.sensor.recent().value }}{% if correlation.sensor.suffix is not none() %} {{ correlation.sensor.suffix }}{% endif %}</a></li>
	{% endfor %}
</ul>
<!-- Tab contents -->
<div class="tab-content">

	<div class="tab-pane active" id="info">
		<div>
			{{ section.description|markdown }}
			<ul>
				<li>Location: {{ section.location }}</li>
				<li>Latitude: {{ section.inlatlon().y }}</li>
				<li>Longitude: {{ section.inlatlon().x }}</li>
			</ul>
		</div>
	</div>
	<div class="tab-pane" id="weather">
		<iframe id="forecast_embed" type="text/html" frameborder="0" height="245" width="100%" src="http://forecast.io/embed/#lat={{ section.inlatlon().y }}&lon={{ section.inlatlon().x }}&name={{ section.name }}"> </iframe>
		Other weather resources:
		<div class="list-group">
			<a href="http://forecast.weather.gov/MapClick.php?lat={{ section.inlatlon().y }}&lon={{ section.inlatlon().x }}&site=all&smap=1" class="list-group-item">
			NOAA - NWS - Weather.gov
			</a>
			{#<a href="http://www.wunderground.com/weather-forecast/zmw:{{ section.zipcode }}.1.99999" class="list-group-item">Weather Underground</a>
			<a href="http://www.weather.com/weather/today/{{ section.zipcode }}:4:US" class="list-group-item">Weather.com</a>#}
		</div>

	</div>

	{% for correlation, div in correlation_divs  %}
	<div class="tab-pane" id="{{ correlation.sensor.stype}}">
		{% autoescape false %}
			{{ div }}
		{% endautoescape %}
	</div>
	{% endfor %}

</div>
{% endblock %}
