{% extends "base.html" %}

{% set active_page = "map" %}

{% block title %}Gages{% endblock %}

{% block body_attribs %}
style="padding-top: 50px"
{% endblock %}

{% block content %}
  	<div class="jumbotron" style="background-image: url({{ url_for('static', filename='img/header.jpg' ) }}); background-size: 100%;">
  		<div class="container">
  			<h1>Map</h1>
  		</div>
  	</div>
  	
  	<div class="container">
  		<div class="row">
	  		<div class="col-md-8" role="main">
		  		
	  			 <h3>There will be a map here</h3>
	  			 <p>Pete has limited the guest network speed enough that playing with Google Maps is painful.</p>

	  		</div>
	  		<div class="col-md-4">
		  		Gages
	  			 <div class="list-group">
	  			 	{% for gage in Gage.select() %}
	  			 	<a href="{{ url_for('gagepage', id=gage.id ) }}" class="list-group-item">
	  			 		{{ gage.name }}
		  			 	<span class="badge alert-info">{{ recent_level(gage.id) }} 
		  			 		{% if leveltrend(gage.id, 12) == 'rising' %}
		  			 			<span class="glyphicon glyphicon-arrow-up"></span>
		  			 		{% elif leveltrend(gage.id, 12) == 'steady' %}
		  			 			<span class="glyphicon glyphicon-arrow-right"></span>
		  			 		{% elif leveltrend(gage.id, 12) == 'falling' %}
		  			 			<span class="glyphicon glyphicon-arrow-down"></span>
		  			 		{% else %}
		  			 			
		  			 		{% endif %} 
		  			 	</span></span>
	  			 	</a>
	  			 {% endfor %}
	  			 </div>
	  			
	  		</div>
	  	</div>
  	</div>
{% endblock %}