{% extends "base.html" %}

{% set active_page = "index" %}

{% block title %}Flows 403{% endblock %}

{% block content %}
  	<div class="jumbotron" style="background-image: url({{ url_for('static', filename='img/404.jpg' ) }}); background-size: 100%;">
  		<div class="container">
  			<h1>Four Oh Three</h1>
  			<h4>Boof Stroke Not Found</h4>
  		</div>
  	</div>
  	
  	<div class="container">
  		<div class="row">
	  		<div class="col-md-8" role="main">
		  		<img src="{{ url_for('static', filename='img/404-2.jpg' ) }}" class="img-responsive xs-hidden">
	  			<h3>Well that didn't work out.</h3>
	  			
	  			<p>Try the top menu, or checking out one of the gages on the right.</p>

	  		</div>
	  		<div class="col-md-4">
		  		<h4>Gages</h4>
	  			<div class="list-group">
	  				{% for gage in Gage.query.all() %}
	  				<a href="{{ url_for('main.gagepage', slug=gage.slug ) }}" class="list-group-item">
	  					{{ gage.name }}
	  			 	</a>
	  			 {% endfor %}
	  			 </div>
	  			
	  		</div>
	  	</div>
  	</div>
{% endblock %}