{% extends "base.html" %}

{% set active_page = "gage" %}

{% block title %}Flows | {{ gage.name }}{% endblock %}


{% block content %}
  	<div class="jumbotron">
  		<div class="container">
  			<h1>{{ gage.name }}</h1>
  			<p>{{ gage.shortDescription }}</p>
  		</div>
  	</div>

  	<div class="container">
  		<div class="row">
	  		<div class="col-md-9" role="main">
	  			<!--  Nav tabs -->
	  			<ul class="nav nav-tabs">
	  				<li class="active"><a href="#info" data-toggle="tab">Gage Info</a></li>
	  				<li><a href="#weather" data-toggle="tab">Weather</a></li>
	  				{% for sensor in gage.sensors.all() %}
	  					{% if sensor.name is none() %}
	  					<li><a href="#{{ sensor.stype }}" data-toggle="tab">{{ sensor.stype }}{% if sensor.recent() is not none() %} - {{ sensor.recent().value }}{% endif %}</a></li>
	  					{% else %}
	  					<li><a href="#{{ sensor.stype }}" data-toggle="tab">{{ sensor.name }}{% if sensor.recent() is not none() %} - {{ sensor.recent().value }}{% endif %}</a></li>
	  					{% endif %}
	  				{% endfor %}
	  			</ul>
	  			<!-- Tab contents -->
	  			<div class="tab-content">
	  				<div class="tab-pane active" id="info">
	  					<div class="container">
		  					{{ gage.description }}
		  					<ul>
		  						<li>Location: {{ gage.location }}</li>
		  						<li>Latitude: {{ gage.latlon().y }}</li>
		  						<li>Longitude: {{ gage.latlon().x }}</li>
	  					</div>
	  				</div>
	  				{% for sensor in gage.sensors.all() %}
	  					<div class="tab-pane" id="{{ sensor.stype }}">
		  					<img src="{{ url_for('.gagesensorplot', id=gage.id, stype=sensor.stype ) }}" class="img-responsive">
	  					</div>
	  				{% endfor %}

	  				<div class="tab-pane" id="weather">
	  					<iframe id="forecast_embed" type="text/html" frameborder="0" height="245" width="100%" src="http://forecast.io/embed/#lat={{ gage.latlon().y }}&lon={{ gage.latlon().x }}&name={{ gage.name }}"> </iframe>
	  					Other weather resources:
	  					<div class="list-group">
	  						<a href="http://forecast.weather.gov/MapClick.php?lat={{ gage.latlon().y }}&lon={{ gage.latlon().x }}&site=all&smap=1" class="list-group-item">
	  						NOAA - NWS - Weather.gov
	  						</a>
	  						<a href="http://www.wunderground.com/weather-forecast/zmw:{{ gage.zipcode }}.1.99999" class="list-group-item">Weather Underground</a>
	  						<a href="http://www.weather.com/weather/today/{{ gage.zipcode }}:4:US" class="list-group-item">Weather.com</a>
	  					</div>

	  				</div>

	  			</div>
	  		</div>
	  		<div class="col-md-3">
	  			<h4>Gages</h4>
	  			<div class="list-group">
	  				{% for gage in Gage.query.all() %}
	  				<a href="{{ url_for('.gagepage', slug=gage.slug ) }}" class="list-group-item">
	  					{{ gage.name }}
	  			 	</a>
	  			 {% endfor %}
	  			 </div>
	  		</div>
	  	</div>
  	</div>
{% endblock %}
