{% extends "base.html" %}

{% set active_page = "index" %}

{% block title %}Flows{% endblock %}

{% block content %}
  	<div class="jumbotron" style="background-image: url({{ url_for('static', filename='img/header.jpg' ) }}); background-size: 100%;">
  		<div class="container">
  			<h1>Flows</h1>
  		</div>
  	</div>
  	
  	<div class="container">
  		<div class="row">
	  		<div class="col-md-8" role="main">
		  		<h3>Don't hang around here</h3>
		  		<p>Find something to drop in to!</p>
	  			<img src="{{ url_for('static', filename='img/index.jpg' ) }}" class="img-responsive xs-hidden">
	  			<p>Miles Puleio running Slip and Slide on <a href="http://www.americanwhitewater.org/content/River/detail/id/888/">Sandy Stream, ME</a>.</p>

	  		</div>
	  		<div class="col-md-4">
		  		<h4>Gages</h4>
	  			<div class="list-group">
	  				{% for gage in Gage.query.all() %}
	  				<a href="{{ url_for('.gagepage', id=gage.id ) }}" class="list-group-item">
	  					{{ gage.name }}
	  			 	</a>
	  			 {% endfor %}
	  			 </div>
	  			
	  		</div>
	  	</div>
  	</div>
{% endblock %}