{% extends "base.html" %}

{% set active_page = "river" %}

{% block title %}Flows | {{ river.name }}{% endblock %}


{% block jumbo_title %}
<h1>{{ river.name }}</h1>
<p>{{ river.short_description }}</p>
{% endblock %}

{% block main %}
{{ river.description }}
{% if river.parent is not none() %}
	<h4>The {{ river.name }}'s parent river is the <a href="{{ url_for('.riverpage', slug=river.parent.slug) }}">{{ river.parent.name }}</a></h4>
{% endif %}
{% if river.tributary is not none() %}
<h4>The {{ river.name }}'s tributaries are:</h4>
	<div class="list-group">
		{% for trib in river.tributary %}
		<a href="{{ url_for('.riverpage', slug=trib.slug) }}" class="list-group-item">{{ trib.name }}</a>
		{% endfor %}
	</div>
{% endif %}
<h2>Sections:</h2>
<div class="list-group">
	{% for section in river.sections %}
	<a href="{{ url_for('.sectionpage', slug=section.slug, river=river.slug ) }}" class="list-group-item">
			<h4 class="list-group-item-heading">{{ section.name }}</h4>
			<p class="list-group-item-text">{{ section.short_description }}</p>
	</a>
	{% endfor %}
</div>
<h2>Gages:</h2>
<div class="list-group">
	{% for gage in river.gages %}
	<a href="{{ url_for('.gagepage', slug=gage.slug) }}" class="list-group-item">{{ gage.name }}</a>
	{% endfor %}
</div>
{% endblock %}
